@media only screen and (max-width: 525px) {

    .all {
        width: 550px;
        height: 100%;
        margin: auto;
        background: #ffffff;
    }

    .menu {
        width: 550px;
        height: 40px;
        background: #191919;
    }
  .l_img {
      width: 80px;
      height: 26px;
      margin: auto;
      margin-left: 25px;
      padding-top: 6px;
  }

  .logo {
      margin: 0px auto;

  }

  .star {
      margin: 0px auto;
      margin-top: -25px;

  }

  .s_img {
      width: 74px;
      height: 15px;
      margin: auto;
      float: right;
      margin-right: 23px;
  }

    .main {
        width: 550px;
        height: 200px;
        background-size: 100%;
        margin-top: -5px;
    }

    .m_img {
        max-width: 100%;
    }

    .content {
        width: 525px;
        height: 8870px;
        margin: auto;
        margin-top: 40px;
    }

    .title {
        width: 525px;
        height: 86px;
        color: #232323;
        font-family: 'Segoe UI';
        font-size: 34px;
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
    }

    .one {
        width: 525px;
        height: 630px;
    }

    .one1 {
        width: 525px;
        height: 220px;
    }

    .title1 {

        color: #002142;
        font-family: 'Segoe UI';
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.25px;

    }

    .one1_1 {
        width: 525px;
        height: 220px;
        color: #002142;
        font-family: 'Segoe UI';
        font-size: 13px;
        font-style: normal;
        line-height: 18px;
        margin-top: 6px;
    }

    .one2 {
        width: 525px;
        height: 370px;
        color: #222E3A;
        font-family: 'Segoe UI';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        float: none;
        margin-top: 40px;
    }

    .two {
        width: 525px;
        height: 1220px;
        margin-top: 30px;
    }

    .title2 {

        font-family: 'Segoe UI';
        color: #003265;
        margin-top: 12px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        width: 525px;

    }

    .two1 {

        color: #002142;
        font-family: 'Segoe UI';
        font-size: 14px;
        font-style: normal;
        line-height: 20px;
        margin-top: 10px;
    }

    .three {
        width: 525px;
        height: 570px;
    }

    .four {
        height: 340px;
        width: 525px;
    }

    .fife {
        height: 280px;
        width: 525px;
    }

    .six {
        height: 135px;
        width: 525px;
    }

    .seven {
        height: 290px;
        width: 525px;
    }

    .eight {
        height: 630px;
        width: 525px;
    }

    .nine {
        height: 1030px;
        width: 525px;
    }

    .nine1 {
        width: 525px;
        height: 570px;
    }

    .nine2 {
        width: 525px;
        height: 430px;
        float: none;
        margin-top: 0px;
    }

    .title3 {
        width: 525px;
        color: #003265;
        font-family: 'Segoe UI';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        margin-top: 8px;
    }

    .title4 {
        color: #1B4876;
        font-family: 'Segoe UI';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        width: 525px;
        height: 100px;
        margin-top: 20px;

    }

    .a {
        width: 525px;
        height: 330px;
    }

    .b {
        width: 525px;
        height: 60px;
    }

    .c {
        width: 525px;
        height: 150px;
    }

    .ten {
        height: 430px;
        width: 525px;
    }

    .ten1 {
        width: 525px;
        height: 235px;
    }

    .ten2 {
        width: 525px;
        height: 205px;
        float: none;
        margin-top: 10px;
    }

    

    .d {
        font-weight: 500;
        font-size: 28px;
    }

    .eleven {
        margin-top: 30px;
        width: 525px;
        height: 610px
    }

    .eleven1 {
        width: 525px;
        height: 270px;
    }

    .e {
        width: 525px;
        height: 146px;
    }

    .eleven2 {
        width: 525px;
        height: 260px;
        float: none;
        margin-top: 10px;
    }

    .twelve {

        width: 525px;
        height: 270px
    }

    .thirteen {
        width: 525px;
        height: 720px
    }

    

    .fourteen {
        width: 525px;
        height: 380px
    }

    .fifteen {
        width: 525px;
        height: 300px
    }

    .sixteen {
        width: 525px;
        height: 300px
    }

    .seventeen {
        width: 525px;
        height: 300px
    }

    .eightteen {
        width: 525px;
        height: 170px
    }

 


.g{
font-size: 18px;
width: 350px;
}

.footer {
    background-size: 100%;
    width: 550px;
    height: 120px;
    margin: auto;

}

.f_img {
    height: 120px;
    width: 550px;


}


.fife2 {
    width: 240px;
    height: 80px;
    margin-left: 13px;
    margin-top: -185px;
}

.fife_text1 {
    width: 525px;
    height: 100px;
    color: #000;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-style: normal;
    line-height: 66px;

}

.fife_text2 {
    width: 240px;
    height: 80px;
    color: #000;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
}

  .footer1 {

      width: 360px;
      height: 25px;
      margin-top: -65px;
      float: right;
      margin-right: 10px;
      position: relative;

  }

  .privacypolicy {
      font-family: 'Segoe UI';
      width: 170px;
      height: 25px;
      font-size: 10px;
      letter-spacing: 0.5px;
      float: left;
      color: #FFF;
  }



  .termsconditions {
      font-family: 'Segoe UI';
      width: 170px;
      height: 25px;
      font-size: 10px;
      letter-spacing: 0.5px;
      float: right;
      color: #FFF;
  }

.l_img1 {
    width: 70px;
    height: 23px;
    margin: auto;
    margin-left: 13px;
    padding-top: 66px;
}
}

.f {
    margin-top: 6px;
    margin-left: 14px;
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 6px;
    font-style: normal;
    line-height: 35px;

}