@media only screen and (max-width: 525px) {

    .all {
        width: 550px;
        height: 100%;
        margin: auto;
        background: #ffffff;
        margin-left: -10px;
            margin-top: -10px;
    }

    .menu {
        width: 550px;
        height: 40px;
        background: #191919;
    }
  .l_img {
      width: 80px;
      height: 26px;
      margin: auto;
      margin-left: 25px;
      padding-top: 6px;
  }

  .logo {
      margin: 0px auto;

  }

  .star {
      margin: 0px auto;
      margin-top: -25px;

  }

  .s_img {
      width: 74px;
      height: 15px;
      margin: auto;
      float: right;
      margin-right: 23px;
  }

.content {
    width: 1600px;
    height: 8440px;
    margin: auto;
    margin-top: 40px;
}

.title {
    width: 805px;
    height: 70px;
    color: #232323;
    font-family: 'Segoe UI';
    font-size: 50px;
    font-style: normal;
    line-height: 60px;
    font-weight: 700;
}

.one {
    width: 1600px;
    height: 434px;
}



.title1 {

    color: #002142;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.25px;
}

.one1_1 {
    width: 691px;
    height: 349px;
    color: #002142;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-style: normal;
    line-height: 35px;
    margin-top: 15px;
}

.margin {
    float: right;
    margin-top: -357px;
}

.one2 {
    width: 840px;
    height: 403px;
    color: #222E3A;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    float: right;
    margin-top: -407px;
}

.two {
    width: 1600px;
    height: 820px;
    margin-top: 40px;
}

.title2 {

    font-family: 'Segoe UI';
    color: #003265;
    margin-top: 20px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;

}

.two1 {

    color: #002142;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-style: normal;
    line-height: 35px;
    margin-top: 10px;
}

.three {
    width: 1600px;
    height: 190px;
}

.four {
    height: 288px;
    width: 1600px;
}

.fife {
    height: 1025px;
    width: 1600px;
}

.six {
    height: 190px;
    width: 1600px;
}

.seven {
    height: 970px;
    width: 1600px;
}

.eight {
    height: 1490px;
    width: 1600px;
}

.eight1 {
    height: 800px;
    width: 720px;
}

.eight2 {
    height: 1070px;
    width: 720px;
    float: right;
    margin-top: -810px;
}

.nine {
    height: 460px;
    width: 1600px;
}



.title3 {
    width: 690px;
    color: #003265;
    font-family: 'Segoe UI';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-top: 20px;
}

.title4 {
    color: #1B4876;
    font-family: 'Segoe UI';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 760px;
    height: 100px;
    margin-top: 10px;

}

.a {
    width: 750px;
    height: 630px;
}

.b {
    width: 716px;
    height: 70px;
}

.c {
    width: 750px;
    height: 280px;
}

.ten {
    height: 270px;
    width: 1600px;
}


.d {
    font-weight: 500;
    font-size: 28px;
}

.eleven {
    width: 1600px;
    height: 860px
}


.twelve {

    width: 1600px;
    height: 250px
}

.thirteen {
    width: 1600px;
    height: 470px
}


.fourteen {
    width: 1600px;
    height: 226px
}

.fifteen {
    width: 1600px;
    height: 160px
}

.sixteen {
    width: 1600px;
    height: 150px
}

.seventeen {
    width: 1600px;
    height: 220px
}

.eightteen {
    width: 1600px;
    height: 220px
}

.footer {
    background-size: 100%;
    width: 1920px;
    height: 430px;
}

.f_img {
    height: 430px;
    width: 1920px
}



.fife2 {
    width: 700px;
    height: 100px;
    margin-left: 163px;
    margin-top: -480px;

}

.footer1 {

    width: 1120px;
    height: 50px;
    margin-top: -243px;
    float: right;
    margin-right: 100px;
    position: relative;
}

.f {
    margin-top: 264px;
    margin-left: 174px;
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 17px;
    font-style: normal;
    line-height: 35px;

}

.privacypolicy {
    font-family: 'Segoe UI';
    width: 521px;
    height: 45px;
    font-size: 33px;
    letter-spacing: 0.5px;
    float: left;
    color: #FFF;
}

.privacypolicy:hover {
    transition: 0.1s;
    color: #b5b5b5;
}

.termsconditions:hover {
    transition: 0.1s;
    color: #b5b5b5;
}

.termsconditions {
    font-family: 'Segoe UI';
    width: 480px;
    height: 45px;
    font-size: 33px;
    letter-spacing: 0.5px;
    float: right;
    color: #FFF;
}

.logo1 {
    width: 207px;
    height: 72px;

}

.l_img1 {
    width: 207px;
    height: 72px;
    margin: auto;
    margin-left: 158px;
    padding-top: 204px;
}
}